@mixin font-face($font-family, $file-path, $weight: normal, $style: normal, $asset-pipeline: false ) {
	@font-face {
		font-family: $font-family;
		font-weight: $weight;
		font-style: $style;

		@if $asset-pipeline == true {
			src: font-url('#{$file-path}.eot');
			src: font-url('#{$file-path}.eot?#iefix') format('embedded-opentype'), font-url('#{$file-path}.woff') format('woff'), font-url('#{$file-path}.ttf') format('truetype');
		} @else {
			src: url('#{$file-path}.eot');
			src: url('#{$file-path}.eot?#iefix') format('embedded-opentype'), url('#{$file-path}.woff') format('woff'), url('#{$file-path}.ttf') format('truetype');
		}
	}
}

@mixin anim($time, $delay) {
	transition: all $time ease $delay;
}

@mixin anim_cubic($time, $delay) {
	transition: all $time cubic-bezier(0.68, -0.55, 0.265, 1.55) $delay;
}

@mixin rotate($deg) {
	transform: rotate($deg);
}

@mixin scale($num) {
	transform: scale($num);
}

@mixin skew($num) {
	transform: skewX($num);
}

@mixin cnt($h) {
	display: flex;
	flex-direction: column;
	height: $h;
	text-align: center;
	align-items: stretch;
	justify-content: center;
}

@mixin tr($x, $y, $z) {
	transform: translate3d($x, $y, $z);
}

@mixin flexbox() {
	font-size: 0;
}

@mixin flexorder($val) {
	order: $val;
}